@model SAGRE.Models.AnaliseAmbiente.TmpCheckList

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TmpCheckList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoCheckList)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoCheckList)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ID_Boletim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_Boletim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao01)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao01)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao02)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao02)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao03)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao03)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao04)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao04)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao05)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao05)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao06)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao06)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao07)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao07)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao08)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao08)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao09)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao09)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao20)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
